.content__block#onemoment
    .content__doc
        .wrapper
            .container
                .row
                    .col-xs-4.content__foto
                        img(src="/assets/img/lector4.png")
                        .content__foto__name
                            span Теньков Сергей Николаевич
                        .content__foto__stats
                            span Хирург-имплантолог. Главный врач центра на ул. Варшавской, 61. Закончил военно-меди-цинскую академию, интернатуру при ВМедА по общей хирургии, ординатуру в СПбГМУ им. академика Павлова по челюстно-лице-вой хирургии. 
                    .col-xs-6.col-xs-offset-1.content__curs
                        .content__curs__date
                            strong 02.03.2016г.
                            span с 10.00 до 18.00
                        .content__curs__title
                            span «Одномоментная#[br]имплантация»
                        .content__curs__price
                            table
                                tbody
                                    tr
                                        td #[small до] 23 февраля
                                        td #[big 11 000] #[i.fa.fa-rub]
                                    tr
                                        td после 23 февраля
                                        td 12 000 #[i.fa.fa-rub]
                        a(href="#call-modal").fancy.btn 
                            span Зарегистрироваться
                    .clearfix
    .content__prog
        .wrapper
            .container
                .row
                    .col-xs-3.content__prog__header
                        h3.blue Программа курса:
                        .content__prog__name
                            span Теньков#[br]Сергей#[br]Николаевич
                    .col-xs-8.col-xs-offset-1.content__prog__info
                        ul.list-unstyled
                            li 
                                span Показания и противопоказания.#[br]Условия проведения одномоментной имплантации.
                            li
                                span Условия развития одномоментной имплантации.
                            li
                                span Отличия от классической имплантации.#[br]Преимущества одномоментной имплантации.
                            li
                                span Планирование операции.
                            li
                                span Этапы проведения одномоментной имплантации. Технология.
                            li.operation
                                span Показательная операция
                        a(href="#sert").fancy.sert
                            span Все участники получат сертификаты#[br]установленного образца
                    .clearfix
                
