.content__block#methods
    .content__doc
        .wrapper
            .container
                .row
                    .col-xs-4.content__foto
                        img(src="/assets/img/lector.png")
                        .content__foto__name
                            span Васильев Алексей Викторович
                        .content__foto__stats
                            span Профессор, доктор медицинских наук, профессор кафедры челюстно-лицевой хирургии и хирургической стоматологии СЗГМУ им. И.И.Мечникова
                    .col-xs-6.col-xs-offset-1.content__curs
                        .content__curs__date
                            strong лекция
                            span 04 марта 2016г., c 18.00 до 21.00
                        .content__curs__title
                            span «Методы костной#[br]пластики в имплантологии»
                        .content__curs__price
                            table
                                tbody
                                    tr
                                        td #[small до] 23 февраля
                                        td #[big 9 000] #[i.fa.fa-rub]
                                    tr
                                        td после 23 февраля
                                        td 10 500 #[i.fa.fa-rub]
                        a(href="#call-modal").fancy.btn 
                            span Зарегистрироваться
                    .clearfix
    .content__prog
        .wrapper
            .container
                .row
                    .col-xs-3.content__prog__header
                        h3.blue Программа лекций:
                        .content__prog__name
                            span Васильев#[br]Алексей#[br]Юрьевич
                    .col-xs-8.col-xs-offset-1.content__prog__info
                        ul.list-unstyled
                            li 
                                span Классические варианты операций расщепления и расширения кости альвиолярных гребней
                            li
                                span Особенности проведения операций на верхней и нижней челюсти
                            li
                                span Современные тенденции в предимплантационной хирургии челюсти
                            li
                                span Тактика имплантолога при патологии верхнечелюстных пазух
                            li
                                span Различные методы проведения операции "СИНУС-ЛИФТИНГ"
                    .clearfix
                
