.content__block#boneplastic
    .content__doc
        .wrapper
            .container
                .row
                    .col-xs-4.content__foto
                        img(src="/assets/img/lector1.png")
                        .content__foto__name
                            span Липатов Андрей Сергеевич
                        .content__foto__stats
                            span Хирург-имплантолог-ортопед-пародонтолог.Практический челюстно-лицевой хирург. В 1998г. окончил СПбГМУ им.Павлова. Специализация: сочетанные травмы челюстно-лицевой области.                    
                    .col-xs-6.col-xs-offset-1.content__curs
                        .content__curs__date
                            strong 27.02.2016г.
                            span с 10.00 до 18.00
                        .content__curs__title
                            span «Костная пластика»
                        .content__curs__price
                            table
                                tbody
                                    tr
                                        td #[small до] 23 февраля
                                        td #[big 9 000] #[i.fa.fa-rub]
                                    tr
                                        td после 23 февраля
                                        td 10 500 #[i.fa.fa-rub]
                        a(href="#call-modal").fancy.btn 
                            span Зарегистрироваться
                    .clearfix
    .content__prog
        .wrapper
            .container
                .row
                    .col-xs-3.content__prog__header
                        h3.blue Программа курса:
                        .content__prog__name
                            span Липатов#[br]Андрей#[br]Сергеевич
                    .col-xs-8.col-xs-offset-1.content__prog__info
                        ul.list-unstyled
                            li 
                                span Основы костной пластики, особенности формирования костной ткани.
                            li
                                span Классификация по происхождению, строению, показания к применению.
                            li
                                span Методики забора в зависимости от донорского участка.
                            li
                                span Правила работы с костными трансплантатами: хранение, адаптация. 
                            li
                                span Подготовка принимающего ложа, фиксация.
                            li
                                span Ушивание мягких тканей.
                            li
                                span Профилактика и лечение осложнений.
                            li
                                span Антибактериальная терапия.
                            li.operation
                                span Показательная операция
                        a(href="#sert").fancy.sert
                            span Все участники получат сертификаты#[br]установленного образца
                    .clearfix
                
