@import "variables.styl"

.footer
    background-color #fff
    color $colorBlack
    padding 25px 0 35px
    font-family 'Open Sans', sans-serif
    .pull-left
        a[target="_blank"]
            color $colorDarkGray
            text-decoration underline
            position relative
            top 10px
            left 35px
    .soc-icon
        opacity 1
        &:hover
            opacity .8
