@import "variables.styl"

.map
    width 100%
    min-width 100%
    position relative
    &__container,
    &__info
        height 365px
        width 50%
        float left
    &__info
        background-color $colorGreen
        color #fff
    &__inner
        padding 60px 70px
    h2
        text-transform uppercase
        font-family 'pf_din_text_comp_proregular'
        letter-spacing 1px
    &__address
        margin 30px 0px
        font-size 16px
        font-family "Open Sans", sans-serif
    &__phone
        font-weight 600
        font-family "Open Sans", sans-serif
