footer#footer.footer
	.wrapper
		.container
			.row
				.col-xs-4
					p ООО "ППУЦИС", ИНН 7810339683#[br]ОГРН 1157847067432
				.col-xs-4.col-xs-offset-4
					.pull-left
						a(href="http://intan.ru", target="_blank")
							span Перейти на основной сайт
					.pull-right
						ul.list-inline
							li
								a(href="https://vk.com/intan", target="_blank")
									img(src="/landings/kursy-study/assets/img/vk.png").soc-icon
							li
								a(href="https://www.facebook.com/intanstomatology/", target="_blank")
									img(src="/landings/kursy-study/assets/img/facebook.png").soc-icon
							li
								a(href="http://ok.ru/group/52894927552599", target="_blank")
									img(src="/landings/kursy-study/assets/img/ok.png").soc-icon
			.row
				.col-xs-4
					p &copy; 1998 &mdash; 2016 «ИНТАН»
				.col-xs-4
					p
						a(href="#Politik").fancy
							span Политика конфиденциальности
				.col-xs-3.col-xs-offset-1
					.container
						.pull-left
							span Разработка сайта &mdash;
						.pull-right
							a(href="http://legion.info/", target="_blank")
								img(src="/landings/kursy-study/assets/img/logo-legion.png")
						
								
