header#header.header
	.wrapper
		.container
			.row
				.col-xs-2.header__logo
					a(href="/kursy-study/")
						img(src="/landings/kursy-study/assets/img/logo.png" alt="Логотип Интан")
				.col-xs-5.header__licence
					span Лицензия Комитета по образованию
					br
					span Правительства Санкт-Петербурга №1637 от 20 января 2016
				.col-xs-4.header__register
					a(href="#call-modal").btn.fancy 
						span Зарегистрироваться
					
						
						
