meta(charset='UTF-8')
link(rel="shortcut icon", type="image/x-icon",  href="/landings/kursy-study/favicon.png")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title Учебный центр Интан
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic', rel='stylesheet', type='text/css')
link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css")
link(rel="stylesheet", href="/landings/kursy-study/assets/js/lib/fancybox/jquery.fancybox.css")
link(rel='stylesheet', href='/landings/kursy-study/assets/css/css.css')
//if lt IE 9
	script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
	script(src='//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
