section#Map.map 
        .map__container#ymap
        .map__info
            .map__inner
                h2 Контактная#[br]информация
                .map__address
                    span г. Санкт-Петербург, ул. Варшавская, д. 61, корп.1#[br] ст. м. Московская
                .map__phone
                    span Тел.: +7 (921) 091-93-21
        .clearfix
