section.modal.hidden
	div#call-modal.modal-fancybox
		.modal-fancybox-title Регистрация
		.modal-fancybox-body
			form(method="post",action="/mail.php",id="form_subm",name="form_subm")
						label.input
							.input-input
								input(type="text",name="name", required="true", placeholder="Ваше имя", class="seen-inputs")
						label.input
							.input-input
								input(type="tel", name="tel", required="true", placeholder="Телефон", data-inputmask="'mask':'+7 (999) 999-99-99'")
						label.input
							.input-input
								input(type="text", name="email", placeholder="E-mail", data-inputmask="'alias': 'email'")
						label.input
							.input-checkbox
								input(type="checkbox", name="boneplastic", value="Костная пластика")
							.input-label
								span 27.02.16 &mdash; "Костная пластика"#[br]Липатов А.С.
						label.input
							.input-checkbox
								input(type="checkbox", name="allfour", value="Все на четырех") 
							.input-label
								span 29.02.16 &mdash; "Все на четырех"#[br]Вохмянина Ю.В.#[br]Гасанов Г.Г.
						label.input
							.input-checkbox
								input(type="checkbox", name="onemoment", value="Одномоментная имплантация")
							.input-label
								span 02.03.16 &mdash; "Одномоментная имплантация"#[br]Теньков С.Н.
						label.input
							.input-checkbox
								input(type="checkbox", name="fundations", value="Основы протезирования на имплантах")
							.input-label
								span 03.03.16 &mdash; "Основы протезирования на имплантах"#[br]Лемешева Е.А.
						label.input
							.input-checkbox
								input(type="checkbox", name="fundations", value="Метода костной пластики в имплантологии")
							.input-label
								span 04.03.16 &mdash; "Метода костной пластики в имплантологии"#[br]Васильев А.В.
						label.input.agreement
							.input-checkbox
								input(type="checkbox", name="agreement", required="true")
							.input-label
								span Я даю согласие на обработку всех моих персональных данных, указанных в форме, любыми способами.
						label.input
							.input-input
								br
								a(href="#", onclick="", class="btn") Зарегестрироваться		
	div#sert.modal-fancybox
		img(src="/landings/kursy-study/assets/img/sert.jpg", width='100%')
