<!-- import scripts -->
script(src="/landings/kursy-study/assets/js/lib/require.js")
script(src="/landings/kursy-study/assets/js/common.js")
//- script(src="/landings/kursy-study/assets/js/lib/jquery.min.js")

//- script(src="/landings/kursy-study/assets/js/libs/owl.carousel2/owl.carousel.min.js")
//- 
//- script(src="/landings/kursy-study/assets/js/libs/inputmask/inputmask.js")
//- script(src="/landings/kursy-study/assets/js/libs/inputmask/jquery.inputmask.js")
//- 
//- script(src="/landings/kursy-study/assets/js/libs/fancybox/jquery.fancybox.pack.js")
//- 
//- script(src="/landings/kursy-study/assets/js/helper-page.js")
