//- подключаем шаблон
extends /layouts/layout.jade


//- Описывам контен
//content start
block content
	include /element/jade-blocks/b_main_first_block.jade
	include /element/jade-blocks/b_main_second_block.jade
	include /element/jade-blocks/b_main_three_block.jade
	include /element/jade-blocks/b_main_four_block.jade
	include /element/jade-blocks/b_main_five_block.jade
