
<section class="anckers">
	<div class="wrapper">
		<div data-target="#boneplastic" class="pull-left anckers__item">
			<div class="anckers__date"><span>27.02.2016г</span></div>
			<div class="anckers__title"><span>«Костная пластика»</span></div>
			<div class="anckers__author"><span><br>Липатов А.С.</span></div>
			<div class="anckers__spec"><span>ведущий специалист<br>ИНТАН</span></div>
		</div>
		<div data-target="#allfour" class="pull-left anckers__item">
			<div class="anckers__date"><span>29.02.2016г</span></div>
			<div class="anckers__title"><span>«Все на четырех»</span></div>
			<div class="anckers__author"><span>Вохмянина Ю.В.<br>Гасанов Г.Г</span></div>
			<div class="anckers__spec"><span>ведущий специалист<br>ИНТАН</span></div>
		</div>
		<div data-target="#onemoment" class="pull-left anckers__item">
			<div class="anckers__date"><span>02.03.2016г</span></div>
			<div class="anckers__title"><span>«Одномоментня имплантация»</span></div>
			<div class="anckers__author"><span><br>Теньков С.Н.</span></div>
			<div class="anckers__spec"><span>ведущий специалист<br>ИНТАН</span></div>
		</div>
		<div data-target="#fundations" class="pull-left anckers__item">
			<div class="anckers__date"><span>03.03.2016г</span></div>
			<div class="anckers__title"><span>«Основы протезирования<br>на имплантатах»</span></div>
			<div class="anckers__author"><span>Лемешева Е.А.</span></div>
			<div class="anckers__spec"><span>ведущий специалист<br>ИНТАН</span></div>
		</div>
		<div data-target="#methods" class="pull-left anckers__item">
			<div class="anckers__date"><span>04.03.2016г</span></div>
			<div class="anckers__title"><span>«Методы костной<br>пластики в имплантологии»</span></div>
			<div class="anckers__author"><span>Васильев А.В.</span></div>
			<div class="anckers__spec"><span>Профессор,<br>Доктор медицинских наук</span></div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>