
<footer id="footer" class="footer">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<p>ООО "ППУЦИС", ИНН 7810339683<br/>ОГРН 1157847067432</p>
				</div>
				<div class="col-xs-4 col-xs-offset-4">
					<div class="pull-left"><a href="http://intan.ru" target="_blank"><span>Перейти на основной сайт</span></a></div>
					<div class="pull-right">
						<ul class="list-inline">
							<li><a href="https://vk.com/intan" target="_blank"><img src="/landings/kursy-study/assets/img/vk.png" class="soc-icon"/></a></li>
							<li><a href="https://www.facebook.com/intanstomatology/" target="_blank"><img src="/landings/kursy-study/assets/img/facebook.png" class="soc-icon"/></a></li>
							<li><a href="http://ok.ru/group/52894927552599" target="_blank"><img src="/landings/kursy-study/assets/img/ok.png" class="soc-icon"/></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<p>&copy; 1998 &mdash; 2016 «ИНТАН»</p>
				</div>
				<div class="col-xs-4">
					<p><a href="#Politik" class="fancy"><span>Политика конфиденциальности</span></a></p>
				</div>
				<div class="col-xs-3 col-xs-offset-1">
					<div class="container">
						<div class="pull-left"><span>Разработка сайта &mdash;</span></div>
						<div class="pull-right"><a href="http://legion.info/" target="_blank"><img src="/landings/kursy-study/assets/img/logo-legion.png"/></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>