
<header id="header" class="header">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 header__logo"><a href="/"><img src="/assets/img/logo.png" alt="Логотип Интан"/></a></div>
				<div class="col-xs-5 header__licence"><span>Лицензия Комитета по образованию</span><br/><span>Правительства Санкт-Петербурга №1637 от 20 января 2016</span></div>
				<div class="col-xs-3 header__register"><a href="#call-modal" class="header__btn fancy"> <span>Зарегистрироваться</span></a></div>
			</div>
		</div>
	</div>
</header>