<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="shortcut icon" type="image/x-icon" href="/landings/kursy-study/favicon.png"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>Учебный центр Интан</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
		<link href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/landings/kursy-study/assets/js/lib/fancybox/jquery.fancybox.css"/>
		<link rel="stylesheet" href="/landings/kursy-study/assets/css/css.css"/>
		<!--if lt IE 9
		script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		script(src='//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		-->
	</head>
	<body>
		<header id="header" class="header">
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-xs-2 header__logo"><a href="/kursy-study/"><img src="/landings/kursy-study/assets/img/logo.png" alt="Логотип Интан"/></a></div>
						<div class="col-xs-5 header__licence"><span>Лицензия Комитета по образованию</span><br/><span>Правительства Санкт-Петербурга №1637 от 20 января 2016</span></div>
						<div class="col-xs-4 header__register"><a href="#call-modal" class="btn fancy"> <span>Зарегистрироваться</span></a></div>
					</div>
				</div>
			</div>
		</header>
		<section class="anckers">
			<div class="wrapper">
				<div data-target="#boneplastic" class="pull-left anckers__item">
					<div class="anckers__date"><span>27.02.2016г</span></div>
					<div class="anckers__title"><span>«Костная пластика»</span></div>
					<div class="anckers__author"><span><br>Липатов А.С.</span></div>
					<div class="anckers__spec"><span>ведущий специалист<br>ИНТАН</span></div>
				</div>
				<div data-target="#allfour" class="pull-left anckers__item">
					<div class="anckers__date"><span>29.02.2016г</span></div>
					<div class="anckers__title"><span>«Все на четырех»</span></div>
					<div class="anckers__author"><span>Вохмянина Ю.В.<br>Гасанов Г.Г</span></div>
					<div class="anckers__spec"><span>ведущий специалист<br>ИНТАН</span></div>
				</div>
				<div data-target="#onemoment" class="pull-left anckers__item">
					<div class="anckers__date"><span>02.03.2016г</span></div>
					<div class="anckers__title"><span>«Одномоментная имплантация»</span></div>
					<div class="anckers__author"><span><br>Теньков С.Н.</span></div>
					<div class="anckers__spec"><span>ведущий специалист<br>ИНТАН</span></div>
				</div>
				<div data-target="#fundations" class="pull-left anckers__item">
					<div class="anckers__date"><span>03.03.2016г</span></div>
					<div class="anckers__title"><span>«Основы протезирования<br>на имплантатах»</span></div>
					<div class="anckers__author"><span>Лемешева Е.А.</span></div>
					<div class="anckers__spec"><span>ведущий специалист<br>ИНТАН</span></div>
				</div>
				<div data-target="#methods" class="pull-left anckers__item">
					<div class="anckers__date"><span>04.03.2016г</span></div>
					<div class="anckers__title"><span>«Методы костной<br>пластики в имплантологии»</span></div>
					<div class="anckers__author"><span>Васильев А.В.</span></div>
					<div class="anckers__spec"><span>Профессор,<br>Доктор медицинских наук</span></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</section>
		<section id="content" class="content">
		</section>
		<section id="Map" class="map"> 
			<div id="ymap" class="map__container"></div>
			<div class="map__info">
				<div class="map__inner">
					<h2>Контактная<br/>информация</h2>
					<div class="map__address"><span>г. Санкт-Петербург, ул. Варшавская, д. 61, корп.1<br/> ст. м. Московская</span></div>
					<div class="map__phone"><span>Тел.: +7 (921) 091-93-21</span></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</section>
		<footer id="footer" class="footer">
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-xs-4">
							<p>ООО "ППУЦИС", ИНН 7810339683<br/>ОГРН 1157847067432</p>
						</div>
						<div class="col-xs-4 col-xs-offset-4">
							<div class="pull-left"><a href="http://intan.ru" target="_blank"><span>Перейти на основной сайт</span></a></div>
							<div class="pull-right">
								<ul class="list-inline">
									<li><a href="https://vk.com/intan" target="_blank"><img src="/landings/kursy-study/assets/img/vk.png" class="soc-icon"/></a></li>
									<li><a href="https://www.facebook.com/intanstomatology/" target="_blank"><img src="/landings/kursy-study/assets/img/facebook.png" class="soc-icon"/></a></li>
									<li><a href="http://ok.ru/group/52894927552599" target="_blank"><img src="/landings/kursy-study/assets/img/ok.png" class="soc-icon"/></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<p>&copy; 1998 &mdash; 2016 «ИНТАН»</p>
						</div>
						<div class="col-xs-4">
							<p><a href="#Politik" class="fancy"><span>Политика конфиденциальности</span></a></p>
						</div>
						<div class="col-xs-3 col-xs-offset-1">
							<div class="container">
								<div class="pull-left"><span>Разработка сайта &mdash;</span></div>
								<div class="pull-right"><a href="http://legion.info/" target="_blank"><img src="/landings/kursy-study/assets/img/logo-legion.png"/></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<section class="modal hidden">
			<div id="call-modal" class="modal-fancybox">
				<div class="modal-fancybox-title">Регистрация</div>
				<div class="modal-fancybox-body">
					<form method="post" action="/mail.php" id="form_subm" name="form_subm">
						<label class="input">
							<div class="input-input">
								<input type="text" name="name" required="true" placeholder="Ваше имя" class="seen-inputs"/>
							</div>
						</label>
						<label class="input">
							<div class="input-input">
								<input type="tel" name="tel" required="true" placeholder="Телефон" data-inputmask="'mask':'+7 (999) 999-99-99'"/>
							</div>
						</label>
						<label class="input">
							<div class="input-input">
								<input type="text" name="email" placeholder="E-mail" data-inputmask="'alias': 'email'"/>
							</div>
						</label>
						<label class="input">
							<div class="input-checkbox">
								<input type="checkbox" name="boneplastic" value="Костная пластика"/>
							</div>
							<div class="input-label"><span>27.02.16 &mdash; "Костная пластика"<br/>Липатов А.С.</span></div>
						</label>
						<label class="input">
							<div class="input-checkbox">
								<input type="checkbox" name="allfour" value="Все на четырех"/>
							</div>
							<div class="input-label"><span>29.02.16 &mdash; "Все на четырех"<br/>Вохмянина Ю.В.<br/>Гасанов Г.Г.</span></div>
						</label>
						<label class="input">
							<div class="input-checkbox">
								<input type="checkbox" name="onemoment" value="Одномоментная имплантация"/>
							</div>
							<div class="input-label"><span>02.03.16 &mdash; "Одномоментная имплантация"<br/>Теньков С.Н.</span></div>
						</label>
						<label class="input">
							<div class="input-checkbox">
								<input type="checkbox" name="fundations" value="Основы протезирования на имплантах"/>
							</div>
							<div class="input-label"><span>03.03.16 &mdash; "Основы протезирования на имплантах"<br/>Лемешева Е.А.</span></div>
						</label>
						<label class="input">
							<div class="input-checkbox">
								<input type="checkbox" name="fundations" value="Метода костной пластики в имплантологии"/>
							</div>
							<div class="input-label"><span>04.03.16 &mdash; "Метода костной пластики в имплантологии"<br/>Васильев А.В.</span></div>
						</label>
						<label class="input agreement">
							<div class="input-checkbox">
								<input type="checkbox" name="agreement" required="true"/>
							</div>
							<div class="input-label"><span>Я даю согласие на обработку всех моих персональных данных, указанных в форме, любыми способами.</span></div>
						</label>
						<label class="input">
							<div class="input-input"><br/><a href="#" onclick="" class="btn">Зарегестрироваться		</a></div>
						</label>
					</form>
				</div>
			</div>
			<div id="sert" class="modal-fancybox"><img src="/landings/kursy-study/assets/img/sert.jpg" width="100%"/></div>
		</section><!-- import scripts -->
		<script src="/landings/kursy-study/assets/js/lib/require.js"></script>
		<script src="/landings/kursy-study/assets/js/common.js"></script>
	</body>
</html>