
<section class="modal hidden">
	<div id="call-modal" class="modal-fancybox">
		<div class="modal-fancybox-title">Регистрация</div>
		<div class="modal-fancybox-body">
			<form method="post" action="/mail.php" id="form_subm" name="form_subm">
				<label class="input">
					<div class="input-input">
						<input type="text" name="name" required="true" placeholder="Ваше имя" class="seen-inputs"/>
					</div>
				</label>
				<label class="input">
					<div class="input-input">
						<input type="tel" name="tel" required="true" placeholder="Телефон" data-inputmask="'mask':'+7 (999) 999-99-99'"/>
					</div>
				</label>
				<label class="input">
					<div class="input-input">
						<input type="text" name="email" placeholder="E-mail" data-inputmask="'alias': 'email'"/>
					</div>
				</label>
				<label class="input">
					<div class="input-checkbox">
						<input type="checkbox" name="boneplastic" value="Костная пластика"/>
					</div>
					<div class="input-label"><span>27.02.16 &mdash; "Костная пластика"<br/>Липатов А.С.</span></div>
				</label>
				<label class="input">
					<div class="input-checkbox">
						<input type="checkbox" name="allfour" value="Все на четрых"/>
					</div>
					<div class="input-label"><span>27.02.16 &mdash; "Все на четрых"<br/>Вохмянина Ю.В.<br/>Гасанов Г.Г.</span></div>
				</label>
				<label class="input">
					<div class="input-checkbox">
						<input type="checkbox" name="onemoment" value="Одномоментная имплантация"/>
					</div>
					<div class="input-label"><span>27.02.16 &mdash; "Одномоментная имплантация"<br/>Теньков С.Н.</span></div>
				</label>
				<label class="input">
					<div class="input-checkbox">
						<input type="checkbox" name="fundations" value="Основы протезирования на имплантах"/>
					</div>
					<div class="input-label"><span>27.02.16 &mdash; "Основы протезирования на имплантах"<br/>Лемешева Е.А.</span></div>
				</label>
				<label class="input">
					<div class="input-checkbox">
						<input type="checkbox" name="fundations" value="Метода костной пластики в имплантологии"/>
					</div>
					<div class="input-label"><span>27.02.16 &mdash; "Метода костной пластики в имплантологии"<br/>Васильев А.В.</span></div>
				</label>
				<label class="input agreement">
					<div class="input-checkbox">
						<input type="checkbox" name="agreement" required="true"/>
					</div>
					<div class="input-label"><span>Я даю согласие на обработку всех моих персональных данных, указанных в форме, любыми способами.</span></div>
				</label>
				<label class="input">
					<div class="input-input"><br/><a href="#" onclick="" class="btn">Зарегестрироваться		</a></div>
				</label>
			</form>
		</div>
	</div>
	<div id="sert" class="modal-fancybox"><img src="/assets/img/sert.jpg" width="100%"/></div>
</section>